body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-image: url(img/background.jpg);
}

#timer-score {
    display: flex;
    gap: 100px;
}

#timer {
    color: goldenrod;
    margin-bottom: 10px;
}

#score {
    color: goldenrod;
}

#grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
    width: 100%;
    max-width: 300px;
}

.tile {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

#end-game {
    margin-top: 10px;
    color: goldenrod;
}